%head  
  =stylesheet_link_tag("http://fonts.googleapis.com/css?family=Bevan")
  =stylesheet_link_tag("http://fonts.googleapis.com/css?family=Esteban")
  =javascript_include_tag("jquery.easing.1.3.js")
  =javascript_include_tag("scrolling.js")
%div#container
  %div#home_page.page
    <br>
    <br>
    =image_tag("tux.png", {:id => "tux", :class => "big_pics"})
    <br>
    <br>
    <br>
    %div.info_text
      %div.headers
        Hello World
      %div.blurb
        My name is Scott Wilson. I am currently a junior studying computer engineering
        at the University of Illinois.
      <br>
      <br>    
      %ul.nav
        %li.nav_li  
          %a.links{:href => '#about_me'} > About Me
        %li.nav_li
          %a.links{:href => '#projects'} > Projects
        %li.nav_li
          %a.links{:href => '#contact'} > Contact Me








  %div#about_me.page
    <br>
    <br>     
    =image_tag("cropped_profile.gif", {:id => "profile", :class => "big_pics"}) 
    <br>
    <br>    
    <br>   
    %div.info_text         
      %div.headers 
        Scott Wilson
      %div.blurb
        I love to code. 
        <br>     
        <br>    
        I've enjoyed working on a variety of projects... everything from web development with friends to creating tools to validate a 50-core processor at Intel.
        <br>     
        <br> 
        I am always looking for a new or exciting project to work on!
        <br>     
        <br> 
      %ul.nav
        %li.nav_li
          %a.links{:href => '#home_page'} > Home
        %li.nav_li
          %a.links{:href => '#projects'} > Projects
        %li.nav_li
          %a.links{:href => '#contact'} > Contact Me







  %div#projects.page
    <br>
    <br>     
    =image_tag("meditate.png", {:id => "projects_pic", :class => "big_pics"}) 
    <br>
    <br>    
    <br>   
    %div.info_text         
      %div.headers 
        Projects
      %div.blurb
        Currently, I spend most of my time working on
        =link_to("Classwhole.com", "http://www.classwhole.com", {:id => "classwhole_link"})         
        <br>
        Classwhole is an awesome tool that allows students at UIUC to create the perfect schedule. In the future, it will be
        adapted to other universities. This website has won two Google development competitions.
        <br>     
        <br>      
        Some past projects have been creating an operating system modeled after linux, an advanced voice-recorder android app, and many more finished and half-finished
        endeavors.
        <br>
        <br>
      %ul.nav
        %li.nav_li
          %a.links{:href => '#home_page'} > Home
        %li.nav_li  
          %a.links{:href => '#about_me'} > About Me
        %li.nav_li
          %a.links{:href => '#contact'} > Contact Me





  %div#contact.page
    <br>
    <br>     
    =image_tag("mail.png", {:id => "contact_pic", :class => "big_pics"}) 
    <br>
    <br>    
    <br>   
    %div.info_text         
      %div.headers 
        Contact Me
      %div.blurb
        =mail_to("wilson29@illinois.edu")   
        <br>     
        <br>      
      %ul.nav
        %li.nav_li
          %a.links{:href => '#home_page'} > Home
        %li.nav_li  
          %a.links{:href => '#about_me'} > About Me
        %li.nav_li
          %a.links{:href => '#projects'} > Projects

