%head  
  =stylesheet_link_tag("http://fonts.googleapis.com/css?family=Bevan")
%div#tux_wrapper
  =image_tag("tux.svg", {:id => "tux"})
  <br>  
  <br>
  <br>
  <br>
  <br>
  <br>
  %span#hello_world
    Hello World. 
  <br>
  <br>
  %span#text_below
    I am 
