%head  
  =stylesheet_link_tag("http://fonts.googleapis.com/css?family=Bevan")
  =stylesheet_link_tag("http://fonts.googleapis.com/css?family=Esteban")
  =javascript_include_tag("jquery.easing.1.3.js")
  =javascript_include_tag("scrolling.js")
%div#container
  %div#home_page.page
    <br>    
    <br>
    <br>
    =image_tag("tux.png", {:id => "tux", :class => "big_pics"})
    <br>
    <br>
    <br>
    %div.info_text
      %div.headers
        Hello World.
      %div.blurb
        My name is Scott Wilson. I am currently a student at the University of Illinois.
        This page is currently under construction.
      <br>
      <br>    
      %ul.nav
        %li.nav_li  
          %a.links{:href => '#about_me'} > About Me











  %div#about_me.page
    <br>
    <br>
    <br>
    <br>     
    =image_tag("cropped_profile.gif", {:id => "profile", :class => "big_pics"}) 
    <br>
    <br>    
    <br>   
    %div.info_text         
      %div.headers 
        Scott Wilson.
      %div.blurb
        About me.   
        <br>     
        <br>      
        More about me.
        <br>
        <br>
      %ul.nav
        %li.nav_li
          %a.links{:href => '#home_page'} > Home


