html, body{
 margin: 0;
 padding: 0;
 border: 0;
 
}

body{
   background-color: #cdc0b0;
   min-width: 1100px; //should this be here?
}

#container {
 width: 80%;
 max-width: 980px;
 background: #eee9e9;
 margin: 0 auto; 
}

.big_pics {
  width: 50%;
  height: auto;
  float: left;
}

#projects_pic {
  position: relative; 
	top: 2em;
}



.info_text {
  width: 40%;
  float: right;
}






.headers {
  font-family: 'Bevan', serif;
  font-size: 3em;
  margin-right: 25px;
}



.blurb {
  margin-right: 25px;
  font-family: 'Esteban', serif;
  font-size:1.5em;
}

.page {
  height: 1600px;  
  width: 100%;
}

#home_page {

}

#about_me {

}

#project {
  
}

.nav {
  list-style: none;
  font-family: 'Esteban', serif;
  font-size:1.5em;
  
}


a.links:link {
  color: black;
  text-decoration: none;
}

a.links:visited {
  color:black;
  text-decoration: none;
}

a.links:active {
  color:black;
  text-decoration: none;
}

a.links:hover {
  color:green;
  text-decoration: none;
}

.links {
  font-family: 'Bevan', serif;
}

.nav
{
margin: 0;
padding: 0;
}

.nav_li
{
margin: 0;
padding: 0;
}
