html, body{
 margin: 0;
 padding: 0;
 border: 0;
}

body{
   background-color: #ccc
}
#container {
 width: 80%;
 max-width: 1000px;
 background: #eee9e9;
 margin: 0 auto; 
}

#tux {
  height: 750px;  
  margin-left: 8%;
  margin-right: auto;
  vertical-align: -80%;
  float: left;
}

#text_box {
  margin-top: 10px;
}

#hello_world {
  font-family: 'Bevan', serif;
  font-size: 4em;
}

#text_below {
  font-size: 2em;
}

#home_page {
  height: 1000px;
}

#about_me {
  height: 1000px;
}

#project {
  height: 1000px;
}
